@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');


*{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 14px; */
    
    font-family: Lusail, Calibri;
    font-weight: bold;
    /* font-size: 17px; */
}
body{
    margin: 0;
    flex-direction: column;
    row-gap: 1rem;
}
.main-header{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2vw;
    width: 96vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.userDataSection{
    background: linear-gradient(135deg, #8A1538, #b30d34);
    flex-direction: row;
    gap: 0.5rem;
    color: white;
    padding: 1rem 1rem;
    border-radius: 27px;
}
.greeetingParagraph{
    font-weight: 100;
    background: transparent;
    color: #8A1538;
    height: 30px;
    border-radius: 10px;
    padding: 0 0.2rem;
    margin: 0;
}
.greeetingParagraph span{
    color: #c4a300;
    margin: 0 4px;
}
.greeetingParagraph img{
    width: auto;
    height: 30px;
}
.logoSection{
    background: transparent;
}
.logoSection img{
    width: 200px;
    height: auto;
}
.userImgContainer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.userImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sittingsMenu{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.586);
    color: #8A1538;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pageSection{
    width: 100%;
}
.greetingsSection{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 1rem;
    padding: 1rem 0;
}
.btn-1{
    /* background-color: #8A1538; */
    background: linear-gradient(135deg, #8A1538, #b30d34);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0px 2px;
}
.btn-1:hover{
    background: linear-gradient(135deg, white, white);
    background-color: white;
    color: #c4a300;
    /* border: 1px solid #8A1538; */
    transition: 10ms ease-in-out;
}
.btn-1 i{
    margin: 0 4px;
    padding: 1px;
}
.cardSection{
    gap: 1.6rem;
}
.cardSectionCard{
    flex: 1;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}
.leftCard{
    border-radius: 15px 0 0 15px;
}
.rightCard{
    border-radius: 0 15px 15px 0;
}
.sectionHeader{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.boardCard{
    background-color:white; 
    flex-direction: column;
}
.listCard{
    background-color: #f5f3f3;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.dataCard{
    /* background-color: #867105; */
    /* background: linear-gradient(135deg, #867105, #f2b705); */
    background: #a79935a8;
}
.notificationList{
    flex-direction: column;
    padding: 0 3%;
    width: 94%;
    justify-content: flex-start;
    margin: 0.2rem;
}
.notificationList li{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem 0;
}
.notificationList li h2{
    margin: 0;
}
.notificationList li:not(:last-child) {
    border-bottom: 1px solid #ccc; /* Add border to all except the last one */
}
.main-li{
    border: none !important;
}
.aboutNotification{
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.aboutNotification p{
    margin: 0;
}
.notifiactionTitle{
    color: #8A1538;
    font-weight: 300;
}
.date{
    color: #b6b6b6;
    font-size: 10px;
}
.classification{
    border-radius: 13px;
    border: none;
    padding: 3px 7px 5px;
    color: white;
    min-width: 40px;
}
.c-Confidential {
    /* background: linear-gradient(135deg, #d31b15, #ff4d4a); */
    background: #a79935a8;
}

.c-HighlyConfidential {
    /* background: linear-gradient(135deg, #8B0000, #b22222); */
    background: #a79935a8;
}

.c-Public {
    /* background: linear-gradient(135deg, #28A745, #5cd65c); */
    background: #a79935a8;
}

.c-Restricted {
    /* background: linear-gradient(135deg, #004085, #337ab7); */
    background: #a79935a8;
}

.inProgressRequest{
    width: 86%;
    height: 86%;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 30px;
    position: relative;
}
.requestNumber{
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: end;
}
.requestNumber span{
    color: #8B0000;
}
.requestStatus{
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: white;
    gap: 0.3rem;
    flex-direction: column-reverse;
    align-items: end;
}
.requestStatus span{
    border-radius: 13px;
    border: none;
    padding: 3px 7px 5px;
    color: white;
    min-width: 40px;
    /* background: linear-gradient(135deg, #1a5276, #146fac); */
    color: #8B0000;    
}
.lastUpdate{
    position: absolute;
    top: 7rem;
    left: 2rem;
    right: 2rem;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.103);
    color: white;
    /* gap: 0.5rem; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 13px;
}
.requestStatisitcs{
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: end;
    padding: 0.3rem;
}
.requestsTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
    display: unset;
}

.requestsTable th, .requestsTable td {
    padding: 10px 15px;
    text-align: right;
    /* border-bottom: 1px solid #ddd; */
}

.requestsTable th {
    color: rgb(114, 114, 114);
    font-weight: bold;
}

.requestsTable tr:nth-child(even) {
    background-color: white;
}

.requestsTable tr:hover {
    background-color: white;
}
tbody tr{
    background-color: white;
    display: unset;

}
tbody tr:not(:last-child){
    border-right: 1px solid #00408561;
}
tbody{
    justify-content: space-between;

}
.mainTR{
    color: #b6b6b6;
}
.noMobile{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 100vh;
    width: 94vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #8A1538;
    color: white;
    padding: 0 3vw;
    text-align: right;
}
.tableSection{
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 0 0.5rem 0;
    border-radius: 18px;
    /* width: 48%; */
    flex: 1;
    background: white;
}
.checkAll{
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: start;
}
.checkAllIC{
    width: 96%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2%;
}
.checkAllIC h3{
    margin: 0;
}
.checkAllIC i{
    width: 25px;
    height: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}
.tablesWrapper{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 94vw;
    gap: 1.5rem;
    background: transparent;
}
tbody{
    background: white;
}
@media screen and (max-width: 700px) {
    .noMobile{
        display: flex;
    }
    .pageSection{
        display: none;
    }
    .main-header{
        display: none;
    }
}